/* Button Styles */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-accent);
    color: var(--color-white);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: var(--color-accent);
  }
  
  /* Dropdown Menu */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: var(--color-accent);
    color: var(--color-white);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  