/*Hover Skew Effect*/
.hover-skew {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease-out;
  }
  
  .hover-skew:hover {
    transform: skewX(-10deg); /* Skew effect on hover */
  }
  
  .hover-skew::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--color-dark-gray), var(--color-dark-gray));
    bottom: -5px;
    left: 0;
    transform: scaleX(0); /* Initially hidden */
    transform-origin: left; /* Expand from left */
    transition: transform 0.2s ease-out;
  }
  
  .hover-skew:hover::after {
    transform: scaleX(1); /* Show underline on hover */
  }
  
  /* Hover underline effect */
  .hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  
  .hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--color-dark-gray), var(--color-dark-gray));
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out;
  }
  
  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }
  
  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }