:root {
    --color-accent: #F06292; /* Pink */
    --color-white: #FFFFFF; /* White */
    --color-black: #000; /* Black */
    --color-outline: #00ff19; /* Green */
    --color-dark-gray: #2C2F33; /* Dark Gray */
    --color-green: #43B581; /* Green */
    --color-light-gray: #ccc; /* Light Gray */
  }